[submodule "Analyse-exploratoire-data_p2"]
	path = Analyse-exploratoire-data_p2
	url = https://github.com/LucasData13/Analyse-exploratoire-data_p2.git
[submodule "Analyse-multivari-e-data_p3"]
	path = Analyse-multivari-e-data_p3
	url = https://github.com/LucasData13/Analyse-multivari-e-data_p3.git
[submodule "ML-supervise-data_p4"]
	path = ML-supervise-data_p4
	url = https://github.com/LucasData13/ML-supervise-data_p4.git
[submodule "Segmentation-clients-data_p5"]
	path = Segmentation-clients-data_p5
	url = https://github.com/LucasData13/Segmentation-clients-data_p5.git
