[submodule "Projet-2-Analyse-exploratoire"]
	path = Projet-2-Analyse-exploratoire
	url = https://github.com/LucasData13/Analyse-exploratoire-data_p2.git
[submodule "Projet-3-Analyse-multivari-e"]
	path = Projet-3-Analyse-multivari-e
	url = https://github.com/LucasData13/Analyse-multivari-e-data_p3.git
[submodule "Projet-4-ML-supervise"]
	path = Projet-4-ML-supervise
	url = https://github.com/LucasData13/ML-supervise-data_p4.git
[submodule "Projet-5-Segmentation-clients"]
	path = Projet-5-Segmentation-clients
	url = https://github.com/LucasData13/Segmentation-clients-data_p5.git
[submodule "Projet-6-Deep-learning"]
	path = Projet-6-Deep-learning
	url = https://github.com/LucasData13/Deep-learning-data_p6.git
[submodule "Projet-7-MLOps"]
	path = Projet-7-MLOps
	url = https://github.com/LucasData13/MLOps-data_p7.git
[submodule "Projet-8-Veille-technologique"]
	path = Projet-8-Veille-technologique
	url = https://github.com/LucasData13/Veille-technologique-p8.git
[submodule "Projet-9-Big-Data"]
	path = Projet-9-Big-Data
	url = https://github.com/LucasData13/Big-Data-p9.git
[submodule "Projet-10-Cadrage-Projet-IA-SCRUM"]
	path = Projet-10-Cadrage-Projet-IA-SCRUM
	url = https://github.com/LucasData13/Cadrage-Projet-IA-SCRUM-p10.git
